@import "variables";



* {
  box-sizing: border-box;
}
html,
body {
  background-color: $light-cream;
}

@media (min-width: 1000px) {
  body {
    margin: 50px;
  }
}

@media (max-width: 480px) {
  body {
    margin: 30px 6.4% 10vh;
  }
}


h1, h2, h3, h4 {
  font-family: $fraunces-family;
}
p {
  font-family: $barlow-family;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style-type: none;
  padding-inline-start: 0;
}

