@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,900&display=swap');

// colors

$dark-text: #333D4B;
$gradient-color: #83888F;
$green-color: #0E8784;
$button-hover: #66D2CF;
$light-cream: #FEFCF7;
$background-color:#2C343E;
$shadow-color: #D8D8D8;
$light-grey: #F4F1EB;
$light-orange: #FDD6BA;
$disabled: #E2DEDB;

$size10: 10px;
$size15: 15px; 
$size16: 16px;
$size24: 24px;
$size25: 25px;
$size26: 26px;
$size28: 28px;
$size32: 32px;
$size36: 36px;
$size40: 40px;
$size48: 48px;
$size72: 72px;

// font family 
$barlow-family: "Barlow", sans-serif;
$fraunces-family: "Fraunces", sans-serif;

//font-weights: 
$regular: 400;
$bold: 700;

// border-radius
$border-radius: 10px;
