@import "_variables";
// @import "generals";

footer {
  width: 100% ;
  margin-top: 20vh;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: $background-color;

  img {
    width: 19%;
    
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    // width: 22%;

    li {
      margin: 0 15px;

      a {
        text-decoration: none;
        color: $gradient-color;
        text-transform: uppercase;
        font-family: $barlow-family;
        font-size: 12px;
        line-height: 15px;
        font-weight: $bold;

        &:hover {
          color: lighten(#f2f2f2, 20%);
        }
      }
    }
  }
  .social-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
    
    .icon-s {
      svg:hover path {
        fill: $light-orange;
      }
    }
    // img {
    //   width: 24px;
    //   height: 24px;
      

    //   // &:hover {
    //   //   filter: $light-orange;
    //   // }
      
    // }
    
   
  }
}

@media (max-width: 480px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6vh;
    margin-top: 30vh;
    height: 346px;


    img {
      width: 66.6%;
    }
    ul {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 3vh;

      li {
        margin: 0 15px;

        a {
          
          font-size: 12px;
          font-weight: $bold;
          line-height: 15px;

          &:hover {
            color: lighten(#f2f2f2, 20%);
          }
        }
      }
    }
    .social-icons {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36.7%;
      
      a {
        display: inline-block;
        margin: 0 10px;

        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
