@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,900&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  background-color: #FEFCF7;
}

body {
  margin: 30px 50px 120px;
}
body .about-us,
body .commitment-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .img-mobile {
  display: none;
}
body h2 {
  font-family: "Fraunces", sans-serif;
  font-size: 40px;
  line-height: 48px;
}
body p {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  line-height: 26px;
}
body .about-us {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/about/coffee/first-d.jpg");
  width: 100%;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
  border-radius: 10px;
  color: #FEFCF7;
  padding: 100px;
}
body .about-us h2 {
  width: 188px;
}
body .about-us p {
  width: 445px;
}
body .commitment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1110px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 30%);
}
body .commitment .img-desktop {
  width: 445px;
  height: 520px;
}
body .commitment .commitment-text {
  width: 540px;
  height: 340px;
  color: #333D4B;
}
body .commitment .commitment-text p {
  font-weight: bold;
}
body .quality {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 474px;
  background-color: #2C343E;
  border-radius: 10px;
  margin-top: 50vh;
}
body .quality .quality-text {
  width: 540px;
  height: 210px;
  color: #FEFCF7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .quality .img-desktop {
  margin-top: -15.66%;
  width: 445px;
  height: 474px;
  border-radius: 10px;
}
body .quality .img-mobile {
  display: none;
}
body .headquarters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1045px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 30%);
  gap: 72px;
}
body .headquarters h2 {
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
}
body .headquarters .location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 6.06%;
}
body .headquarters .location .country {
  width: 81.81%;
  color: #333D4B;
  font-weight: bold;
}
body .headquarters .location .country p {
  font-family: "Fraunces", sans-serif;
  font-size: 32px;
  line-height: 36px;
}
body .headquarters .location .country img {
  width: 41px;
  height: 49px;
}
body .headquarters .location .country .adress {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  line-height: 26px;
}
body footer {
  margin-top: 30vh;
}

@media (max-width: 480px) {
  body {
    margin: 30px 6.4% 10vh;
  }
  body .about-us,
  body .commitment,
  body .quality,
  body .quality-text,
  body .headquarters,
  body .country,
  body .location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  body .commitment,
  body .quality,
  body .headquarters {
    margin-top: 15vh;
  }
  body .img-desktop {
    display: none;
  }
  body h2 {
    font-family: "Fraunces", sans-serif;
  }
  body p {
    font-family: "Barlow", sans-serif;
  }
  body .about-us {
    margin-top: 5vh;
    background-image: url("../assets/about/coffee/first.jpg");
    height: 400px;
    background-size: cover;
    padding: 0;
    color: #FEFCF7;
  }
  body .about-us h2,
  body .about-us p {
    width: 85.32%;
  }
  body .about-us h2 {
    font-size: 28px;
    line-height: 28px;
  }
  body .about-us p {
    font-size: 15px;
    line-height: 25px;
  }
  body .commitment,
  body .quality,
  body .headquarters {
    top: 0;
    left: 0;
    transform: translate(0px, 0px);
  }
  body .commitment {
    width: 100%;
    margin-left: 0;
    font-weight: bold;
  }
  body .commitment .img-mobile {
    display: block;
    width: 100%;
    height: 400px;
    border-radius: 10px;
  }
  body .commitment .commitment-text {
    width: 100%;
    height: auto;
  }
  body .commitment .commitment-text h2 {
    font-size: 32px;
    line-height: 48px;
    color: #333D4B;
  }
  body .commitment .commitment-text p {
    font-size: 15px;
    line-height: 25px;
    color: #333D4B;
  }
  body .quality {
    width: 100%;
    height: 509px;
    background-color: #2C343E;
    border-radius: 10px;
    margin-top: 35vh;
  }
  body .quality .img-desktop {
    display: none;
  }
  body .quality .img-mobile {
    display: block;
    width: 85.32%;
    position: relative;
    top: -3.4%;
    left: -50%;
    transform: translate(58%, -50%);
    border-radius: 10px;
  }
  body .quality .quality-text {
    width: 100%;
    height: 306px;
    background-color: #2C343E;
    border-radius: 10px;
    color: #FEFCF7;
  }
  body .quality .quality-text h2,
  body .quality .quality-text p {
    width: 85.32%;
  }
  body .quality .quality-text h2 {
    font-size: 28px;
    line-height: 28px;
  }
  body .quality .quality-text p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 35px;
  }
  body .headquarters {
    width: 100%;
    gap: 70px;
  }
  body .headquarters img {
    width: 41px;
    height: 49px;
  }
  body .headquarters h2 {
    color: #83888F;
    font-size: 24px;
    line-height: 32px;
  }
  body .headquarters .location {
    gap: 100px;
  }
  body .headquarters .location .country {
    gap: 15px;
  }
  body .headquarters .location .country p {
    font-family: "Fraunces", sans-serif;
    font-size: 28px;
    line-height: 32px;
    color: #333D4B;
    font-weight: bold;
  }
  body .headquarters .location .adress {
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    font-weight: bold;
  }
}/*# sourceMappingURL=about.css.map */