@import "../variables";

@mixin plan-button {
    display: inline-block;
    margin-top: 20px;
    width: 217px;
    height: 56px;
    font-family: $fraunces-family;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    background-color: $green-color;
    color: $text-light;
    border-radius: 5px;
    text-align: center;
    line-height: 56px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken(#0e8784, 10%);
    }
  }