@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,900&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  background-color: #FEFCF7;
}

@media (min-width: 1000px) {
  body {
    margin: 50px;
  }
}
@media (max-width: 480px) {
  body {
    margin: 30px 6.4% 10vh;
  }
}
h1, h2, h3, h4 {
  font-family: "Fraunces", sans-serif;
}

p {
  font-family: "Barlow", sans-serif;
}

a {
  text-decoration: none;
}

ol, ul {
  list-style-type: none;
  padding-inline-start: 0;
}

#scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  padding: 15px;
  background-color: #0E8784;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
#scrollToTopButton:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #66D2CF;
}

#goBackButton {
  background-color: transparent;
  color: #333D4B;
  font-size: "Fraunces", sans-serif;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 12px;
}
#goBackButton:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #66D2CF;
  border-radius: 10px;
}

@media (min-width: 1024px) {
  body {
    /* General styles */
  }
  body .fa {
    padding: 10px;
  }
  body .checkout-logo {
    font-weight: bold;
    text-align: center;
    font-style: italic;
  }
  body .checkout-logo .checkout-logo-img {
    max-width: 236px;
    margin: 0 auto 20px;
    display: block;
  }
  body #checkout-summary {
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-family: "Fraunces", sans-serif;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    background: #2C343E;
    color: #FEFCF7;
    font-size: 1rem;
  }
  body .checkout-container {
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden;
  }
  body .checkout-container form {
    display: flex;
  }
  body .checkout-container form label {
    font-family: "Barlow", sans-serif;
    font-size: 15px;
    font-weight: bold;
  }
  body .checkout-container form .left-section {
    float: left;
    width: 50%;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background: #f2f2f2;
  }
  body .checkout-container form .left-section .left-section .form-group {
    margin-bottom: 20px;
  }
  body .checkout-container form .left-section h3 {
    text-align: center;
  }
  body .checkout-container form .right-section {
    float: right;
    width: 50%;
    padding: 20px;
  }
  body .checkout-container form .right-section .right-section-payment {
    padding: 20px;
    border-radius: 10px;
    background: #f2f2f2;
  }
  body .checkout-container form .right-section .right-section .form-group {
    margin-bottom: 20px;
  }
  body .checkout-container label {
    display: block;
    margin-bottom: 5px;
  }
  body .checkout-container input[type=text],
  body .checkout-container input[type=email],
  body .checkout-container input[type=tel],
  body .checkout-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #0E8784;
    border-radius: 3px;
  }
  body .checkout-container button[type=submit] {
    display: inline-block;
    margin-top: 20px;
    width: 217px;
    height: 56px;
    font-family: "Fraunces", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    background-color: #0E8784;
    color: #FEFCF7;
    border-radius: 5px;
    text-align: center;
    line-height: 56px;
    border: none;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    display: block;
  }
  body .checkout-container button[type=submit]:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #66D2CF;
  }
}
/* Medium screens  tablets) */
@media (max-width: 767px) {
  body .checkout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
  }
  body .checkout-container label {
    font-family: "Barlow", sans-serif;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
  }
  body .checkout-container .fa {
    padding-right: 10px;
  }
  body .checkout-container .checkout-logo p {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
  }
  body .checkout-container #checkout-summary {
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-family: "Fraunces", sans-serif;
    padding: 20px;
    border-radius: 10px;
    background: #2C343E;
    color: #FEFCF7;
    font-size: 12px;
    line-height: 14px;
  }
  body .checkout-container .left-section {
    border-radius: 10px;
    background: #f2f2f2;
    padding: 10px;
  }
  body .checkout-container .left-section .form-group {
    text-align: center;
    margin-top: 10px;
  }
  body .checkout-container .left-section .form-group input,
  body .checkout-container select {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
  }
  body .checkout-container .right-section {
    margin-top: 1rem;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    /* Style for labels in the credit card section */
    /* Style for the CVV input specifically */
  }
  body .checkout-container .right-section #credit-card-details {
    display: none;
  }
  body .checkout-container .right-section #payment-method option[value=card]:checked ~ #credit-card-details {
    display: block;
  }
  body .checkout-container .right-section #credit-card-details input[type=text] {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  body .checkout-container .right-section #credit-card-details label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  body .checkout-container .right-section #cvv {
    width: 50px; /* Adjust as needed */
  }
  body .checkout-container .subscribe {
    position: absolute;
    padding: 30px;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(100%);
  }
  body .checkout-container .subscribe button {
    display: inline-block;
    margin-top: 20px;
    width: 217px;
    height: 56px;
    font-family: "Fraunces", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    background-color: #0E8784;
    color: #FEFCF7;
    border-radius: 5px;
    text-align: center;
    line-height: 56px;
    border: none;
    transition: background-color 0.3s ease;
  }
  body .checkout-container .subscribe button:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background-color: #66D2CF;
  }
}/*# sourceMappingURL=checkout.css.map */