@import "shared/variables";
@import "shared/generals";
@import "shared/mixin/number";
@import "shared/mixin/plan-button";
@import "shared/modal";

//Base style
@media (min-width: 1000px) {
  body {
   margin: 2.5rem 5rem;

    .create-plan,
    .line-step-container,
    .step-1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    fieldset.create-plan-options {
      padding: 0 18px;
      display: none;
      background-color: white;
      overflow: hidden;
    }

  

    .create-plan,
    .pick {
      border-radius: $border-radius;
    }
    .create-plan {
      background-image: url("../assets/create/background-d.jpg");
      width: 100%;
      height: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 30px;
      color: $light-cream;
      padding: 100px;
      .create-text {
        width: 45%;

        h2 {
          font-size: $size72;
          line-height: $size72;
        }
        p {
          font-size: $size16;
          line-height: $size26;
        }
      }
    }
    .pick {
      width: 100%;
      height: 653px;
      background-color: $background-color;
      margin-top: 20vh;

      .line-step-container {
        width: 81.64%;
        gap: 68px;
        position: relative;
        top: -50%;
        left: -50%;
        transform: translate(65%, 90%);
        .line-container {
          display: flex;
          align-items: center;
          width: 75%;
          position: relative;

          .circle {
            width: 31px;
            height: 31px;
            border-radius: 50%;
            border: 2px solid $green-color;
            background-color: transparent;
            position: relative;

            &.circle-start {
              margin-right: -16px;
            }

            &.circle-middle {
              margin-right: -31px;
            }

            &.circle-end {
              margin-left: -16px;
            }
          }

          .line {
            z-index: -1;
            flex-grow: 1;
            height: 2px;
            background-color: $light-orange;
          }
        }

        .steps {
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-align: start;
          width: 100%;

          .step-1 {
            justify-content: space-evenly;
            width: 27.27%;
            height: 356px;
            color: $light-cream;

            .number {
              @include number;
            }
            h3 {
              width: 90%;
              font-size: $size32;
              line-height: $size36;
            }
            p {
              font-size: $size16;
              line-height: $size26;
            }
          }
        }
      }
    }

    section.subscription {
      width: 81.64%;
      margin-left: 9.18%;
      margin-top: 10vh;
      display: flex;
      justify-content: space-between;

      .create-plan-nav {
        width: 24.4%;

        .create-plan-nav-item {
          width: 100%;
          padding: 24px 0;
          counter-increment: subscription-form-nav;
          opacity: 0.5;
          font-weight: $bold;

          &:not(:last-of-type) {
            border-bottom: 1px solid $gradient-color;
          }

          &::before {
            content: "0" counter(subscription-form-nav);
            margin-right: 24px;
            font-family: $fraunces-family;
            font-size: 24px;
            line-height: 32px;
            opacity: 0.5;
          }

          &:hover {
            opacity: 1;
          }

          .create-plan-nav-item-link {
            font-family: $fraunces-family;
            font-size: 1.5rem;
            line-height: 2rem;
            color: $gradient-color;
            transition: all 200ms ease-in-out;

            &:focus {
              outline: 0;
            }

            &:active {
              color: $dark-text;
            }
          }
        }
      }

      .accordion-toggle {
        width: 69.85%;
        .preferences {
          background: none;
          border: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          color: $gradient-color;
          text-align: left;
          h3 {
            font-size: $size40;
            line-height: $size48;
          }
        }
        .create-plan-options {
          border: none;
          background-color: transparent;
          display: none;
          justify-content: space-between;
          align-items: center;
          text-align: left;
          width: 100%;
          gap: 20px;
          legend {
            display: none;
          }
          input[type="radio"] {
            display: none;
            &:checked + label {
              background-color: $green-color;
              color: $light-cream;
            }
          }

          .create-plan-label {
            width: 31.23%;
            height: max-content;
            background-color: $light-grey;
            border-radius: $border-radius;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-family: $fraunces-family;
            font-size: $size24;
            line-height: $size32;
            color: $dark-text;
            font-weight: $bold;
            padding: 1.5rem;

            &:hover {
              background-color: $light-orange;
              transition: 0.3s ease-in;
              cursor: pointer;
              box-shadow: 5px 5px 10px rgba(0,0,0,.7);
            }

            .create-plan-details {
              margin-top: 1rem;
              margin-bottom: 3rem;
              font-family: $barlow-family;
              font-size: $size16;
              line-height: $size26;
            }
          }
        }
        .active {
          .create-plan-icon {
            transition: all 300ms ease-in-out;

            transform: rotate(-180deg);
          }
        }
      }
      .form-deliveries-submit {
        
        .order-summary {
          width: 100%;
          background-color: $background-color;
          border-radius: $border-radius;
          margin-top: 10vh;
          padding: 1.5rem 2.5rem;
  
          .order-summary-heading {
            width: 85.32%;
  
            text-transform: uppercase;
            font-size: $size16;
            line-height: $size26;
            color: $light-grey;
          }
          h3 {
            width: 85.32%;
            color: $light-cream;
            font-size: $size24;
            line-height: $size40;
  
            .order-choice {
              color: $green-color;
              text-transform: capitalize;
            }
          }

          
        }
        .create-plan-submit {
          @include plan-button;
          align-self: center;
          margin-top: 10vh;
          float: right;
         
          &:disabled {
            background-color: $disabled;
          
  
          }
        }
      }
 
    }
  }
}

@media (max-width: 480px) {
  body {
    margin: 30px 6.4% 10vh;

    .create-plan,
    .pick,
    .steps,
    .step-1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .create-plan {
      margin-top: 5vh;
      background-image: url("../assets/create/background.jpg");
      width: 100%;
      height: 400px;
      background-size: cover;
      border-radius: $border-radius;
      color: $light-cream;

      .create-text {
        width: 85.32%;

        h2 {
          font-size: $size28;
          line-height: $size28;
        }

        p {
          font-size: $size15;
          line-height: $size25;
        }
      }
    }

    .pick {
      margin-left: -6.4%;
      width: 375px;
      height: 1028px;
      background-color: $background-color;
      border-radius: $size10;
      margin-top: 15vh;

      .line-step-container {
        width: 87.2%;

        .line-container {
          display: none;
        }

        .steps {
          width: 100%;
          height: max-content;
          justify-content: space-evenly;
          color: $light-cream;
          gap: 50px;
          .number {
            @include number;
          }

          h3 {
            font-size: $size28;
            line-height: $size32;
          }

          p {
            font-size: $size15;
            line-height: $size25;
          }
        }
      }
    }

    section.subscription {
      margin-top: 10vh;

      .create-plan-nav {
        display: none;
      }

      .preferences {
        background: none;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        width: 100%;

        color: $gradient-color;
        text-align: left;
        h3 {
          width: 73.17%;
          font-size: $size24;
          line-height: $size28;
        }
        
      }
      .active {
        .create-plan-icon {
          transition: all 200ms ease-in-out;

          transform: rotate(-180deg);
        }
      }
      .create-plan-options {
        border: none;
        background-color: $light-cream;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        gap: 10px;
        legend {
          display: none;
        }
        input[type="radio"] {
          display: none;
          &:checked + label {
            background-color: $green-color;
            color: $light-cream;
          }
        }

        .create-plan-label {
          width: 100%;
          height: max-content;
          background-color: $light-grey;
          border-radius: $border-radius;
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-family: $fraunces-family;
          font-size: $size24;
          line-height: $size32;
          color: $dark-text;
          font-weight: $bold;
          padding: 1.5rem;

          .create-plan-details {
            margin-top: 1rem;
            
            font-family: $barlow-family;
            font-size: $size16;
            line-height: $size26;
          }
        }
      }
    }
    .form-deliveries-submit {
      display: flex;
      flex-direction: column;
      align-items: center;
      .order-summary {
        width: 100%;
        background-color: $background-color;
        border-radius: $border-radius;
        margin-top: 15vh;
        padding: 1.5rem 2rem 1.5rem;
  
        .order-summary-heading {
          width: 85.32%;
  
          text-transform: uppercase;
          font-size: $size16;
          line-height: $size26;
          color: $light-grey;
        }
        h3 {
          width: 85.32%;
          color: $light-cream;
          font-size: $size24;
          line-height: $size40;
  
          .order-choice {
            color: $green-color;
            text-transform: capitalize;
          }
        }
      }
      .create-plan-submit {
        @include plan-button;
        align-self: center;
        margin-top: 10vh;
        &:disabled {
          background-color: $disabled;
          border: none;

        }
      }
    }
    
  }
}
