@import "shared/variables";
@import "shared/generals";
@import "shared/mixin/number";
@import "shared/mixin/plan-button";

//Base style
@media (min-width: 1000px) {
  body {
    margin: 30px 50px 120px;

    .create-plan,
    .line-step-container,
    .step-1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    fieldset.create-plan-options {
      padding: 0 18px;
      display: none;
      background-color: white;
      overflow: hidden;
    }

    h2,
    h3,
    h4,
    .number {
      font-family: $fraunces-family;
    }

    .create-plan,
    .pick {
      border-radius: 10px;
    }
    .create-plan {
      background-image: url("../assets/create/background-d.jpg");
      width: 100%;
      height: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 30px;
      color: $text-light;
      padding: 100px;
      .create-text {
        width: 34.76%;

        h2 {
          font-size: $size72;
          line-height: $size72;
        }
        p {
          font-size: $size16;
          line-height: $size26;
        }
      }
    }
    .pick {
      width: 100%;
      height: 653px;
      background-color: $background-color;
      margin-top: 20vh;

      .line-step-container {
        width: 81.64%;
        gap: 68px;
        position: relative;
        top: -50%;
        left: -50%;
        transform: translate(65%, 90%);
        .line-container {
          display: flex;
          align-items: center;
          width: 75%;
          position: relative;

          .circle {
            width: 31px;
            height: 31px;
            border-radius: 50%;
            border: 2px solid $green-color;
            background-color: transparent;
            position: relative;

            &.circle-start {
              margin-right: -16px;
            }

            &.circle-middle {
              margin-right: -31px;
            }

            &.circle-end {
              margin-left: -16px;
            }
          }

          .line {
            z-index: -1;
            flex-grow: 1;
            height: 2px;
            background-color: $light-pink;
          }
        }

        .steps {
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-align: start;
          width: 100%;

          .step-1 {
            justify-content: space-evenly;
            width: 27.27%;
            height: 356px;
            color: $text-light;
            

            .number {
              @include number
             
            }
            h3 {
              width: 90%;
              font-size: $size32;
              line-height: $size36;
            }
            p {
              font-size: $size16;
              line-height: $size26;
            }
          }
        }
      }
    }

    .accordion {
      .accordion-toggle {
        font-size: $size40;
        line-height: $size48;
        color: $gradient-color;
      }
      .details {
        display: flex;
      }
    }
  }
}

@media (max-width: 480px) {
  body {
    margin: 30px 6.4% 10vh;

    .create-plan,
    .pick,
    .steps,
    .step-1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .create-plan {
      margin-top: 5vh;
      background-image: url("../assets/create/background.jpg");
      width: 100%;
      height: 400px;
      background-size: cover;
      border-radius: 10px;
      color: $text-light;

      .create-text {
        width: 85.32%;

        h2 {
          font-size: $size28;
          line-height: $size28;
        }

        p {
          font-size: $size15;
          line-height: $size25;
        }
      }
    }

    .pick {
      margin-left: -6.4%;
      width: 375px;
      height: 1028px;
      background-color: $background-color;
      border-radius: $size10;
      margin-top: 15vh;

      .line-step-container {
        width: 87.2%;

        .line-container {
          display: none;
        }

        .steps {
          width: 100%;
          height: 869px;
          justify-content: space-evenly;
          color: $text-light;
          gap: 50px;
          .number {
           @include number
          }

          h3 {
            font-size: $size28;
            line-height: $size32;
          }

          p {
            font-size: $size15;
            line-height: $size25;
          }
        }
      }
    }

    .subbscription {
      margin-top: 10vh;
      

      button {
        background: none;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        color: $gradient-color;
        text-align: left;
        h3 {
          width: 240px;
          font-size: $size24;
          line-height: $size28;
        }
      }
      .create-plan-options {
        border: none;
        background-color: $body-color;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        gap: 10px;
        legend {
          display: none;
        }
        input[type="radio"] {
          display: none;
          &:checked+label {
            background-color: $green-color;
            color: $text-light;
          }
        }
        
        .create-plan-label {
          width: 100%;
          height: 140px;
          background-color: $light-grey;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-family: $fraunces-family;
          font-size: $size24;
          line-height: $size32;
          color: $dark-text;
          font-weight: bold;
          padding: 10px;
          

          .create-plan-details {
            font-family: $barlow-family;
            font-size: $size16;
            line-height: $size26;

           
          }
        }
      }
    }

    .order-summary {
      width: 100%;
      background-color: $background-color;
      border-radius: 10px;
      padding: 20px 30px 20px;

    

      .order-summary-heading {
        width: 85.32%;
     
        text-transform: uppercase;
        font-size: $size16;
        line-height: $size26;
        color: $light-grey;
      }
      h3 {
        width: 85.32%;
        color: $text-light;
        font-size: $size24;
        line-height: $size40;

        .order-choice {
          color: $green-color;
        }
      }
    }
  }
}
