
// Media query for mobile view
@media (max-width: 480px) {
  body { 
    margin: 30px 20px 50px;
    
    header {
      
      .logo {
        position: absolute;
        left: 5%;
        width: 165px;
        height: 20px;
      }
      
      .fa-bars {
        position: absolute;
        left: 90%;
        color: $menu-icon-color;
        display: inline-block; 
        height: 30px;
        width: 36px;
        padding-top: 5px;
      }
      
      .navigation {
        position: absolute;
        top: 70px;
        left: -100%;
        width: 100%;
        background-color: $primary-color;
        transition: left $transition-duration ease-in-out;
        
        ul {
          flex-direction: column;
          
          li {
            margin: 10px 0;
          }
        }
      }
      
      
      header.open-menu {
        .navigation {
          left: 0;
        }
      }
    }
    .main-content {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)), url('./assets/home/Bitmap.png');
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: auto;
      margin-top: 30px;
      // width: 100%;
      height: 500px;
      background-size: cover;
      background-position: 68% 20%;
      .main-title {
        position: absolute;
        top: 10%;
        left: 10%;
        right: 10%;
        font-size: 36px;
      }
      
      .info {
        position: absolute;
        top: 40%;
        left: 10%;
        right: 10%;
        font-size: 15px;
      }
      .create-plan-button {
        position: absolute;
        bottom: 20%;
      }
    }
   
  }


  .coffee-type{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;

    .our-collection {
      font-size: 48px;
    }

    .coffee-type1{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .coffee-img {
      width: 40vw;
      height: fit-content;
      margin-top: 5vh;

    }
    .coffee-name {
      font-size: 24px;
      
    }
    .coffee-info {
      width: 75vw;
      text-align: center;
      font-size: 15px;
    }
  
  }
  .why-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    text-align: center;
    border-radius: 10px;
    background-color: #2C343E;
    width: 90vw;
    height: 900px;
    position: absolute;
    // left: 10%;
    .why {
      color: #FEFCF7;
      margin: 2vh;
      
      h2{
        font-family: $fraunces-family;
        font-size: 28px;
        margin-top: 5vh;
      }
      p{
        width: 75vw;
        font-family: $barlow-family;
        font-size: 15px;
      }
    
     
    }
    
 
  }
  .arguments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 2;
    top: 30vh;

    .argument-1 {
      &.argument-1:first-child {
        margin-top: 2vh;
      }

      .argument {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        width: 75vw;
        height: 380px;
        margin-top: 3vh;
        background-color: #0E8784;
        color: #FEFCF7;
        text-align: center;
       

        img {
          width: 70px;
          height: 70px;
          margin-top: 10vh;
        }
        h3 {
          margin-top: 5vh;
          font-family: $fraunces-family;
          font-size: 24px;
        
        }
        p {
          font-family: $barlow-family;
          font-size: 15px;
          width: 80%;
        }
      }
    }
  }
  .how{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 85%;
    text-align: center;
    width: 90vw;

    h3, .number, .step-1{
      font-family: $fraunces-family;
      font-size: 24px;
      color: #83888F;
    }
    .number, .step-1 {
      font-size: 72px;
      color: #FDD6BA;
      font-weight: bold;
    }
    .step-1 {
      color: #333D4B;
      font-size: 28px;
    }
    .step-2 {
      font-family: $barlow-family;
      font-size: 15px;
      font-weight: bold;
      width: 95%;
    }
    .create-plan-button{
      align-self: center;
      margin-top: 10vh;
    }
  }
  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    margin-top: 10vh;
    height: 346px;
    background-color: #2C343E;
    img {
      width: 66.6%;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 2vh;
      
      li {
        margin: 0 15px;
        
        a {
          text-decoration: none;
          color: $nav-list-item-color;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: bold;
          
          &:hover {
            color: lighten(#F2F2F2, 20%);
          }
        }
      }
    }
    .social-icons{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36.7%;
      height: 24px;
      a {
        display: inline-block;
        margin: 0 10px;

        img {
          width: 24px;
          height: 24px;
        }
      }
    
    }
  }
  
}
