@import "shared/variables";
@import "shared/generals";
@import "../styles/shared/mixin/plan-button";
@import "../styles/shared/mixin/number";

// Base styles
@media (min-width: 1000px) {
  body {
    margin: 50px 50px 120px;

    .coffee-type,
    .why-us,
    .argument,
    .argument-1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .main-content {
      background-image: url("../assets/home/Bitmap.png");
      border-radius: $border-radius;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: auto;
      padding: 50px;
      margin-top: 5vh;

      .content {
        display: flex;
        flex-direction: column;
        width: 42%;
        color: $light-cream;

        .main-title {
          font-size: $size72;
          line-height: $size72;
          text-shadow: 0 0 1px black;
        }

        .info {
          font-size: $size16;
          line-height: $size26;
        }
      }
    }

    .create-plan-button {
      @include plan-button;
    }
    .coffee-type {
      width: 87%;
      margin: 0 auto;
      position: relative;
      .our-collection {
        background: linear-gradient(to bottom, $gradient-color, transparent);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: $bold;
        font-size: 12vw;
      }
      .coffee-selection {
        display: flex;
        justify-content: space-evenly;
        gap: 1%;
        margin-top: -30vh;
        font-weight: bold;
        padding: 0 2%;
        .coffee-type1 {
          width: 23%;
          .coffee-img {
            width: 100%;
            height: auto;
          }
          &:hover {
            box-shadow: 20px 20px 40px;
            border-radius: 10px;
          }
        }
      }
      .coffee-name {
        font-size: $size24;
      }
      .coffee-info {
        font-size: $size16;
      }
    }

    .why-us {
      position: relative;
      width: 100%;
      justify-content: start;
      background-color: $background-color;
      margin-top: 20vh;
      border-radius: $border-radius;
      height: 577px;

      .why {
        color: $light-cream;
        width: 40%;
        margin-top: 5vh;

        h2 {
          font-size: $size40;
          line-height: $size48;
        }

        p {
          font-size: $size16;
          line-height: $size26;
        }
      }
      .arguments {
        width: 100%;
        position: absolute;
        top: 65%;
        transform: translateY(50%);

        .argument-1 {
          flex-direction: row;
          gap: 5vw;
          margin: -10% 60px 0;
        }

        .argument {
          background-color: $green-color;
          border-radius: 5px;
          color: $light-cream;
          width: 350px;
          height: 382px;

          h3 {
            margin-top: 5vh;

            font-size: $size24;
          }
          p {
            font-size: $size15;
            width: 80%;
          }
        }
      }
    }
    section.how {
      margin-top: 50vh;
      width: 82%;
      display: flex;
      flex-direction: column;
      margin-left: 9%;
      gap: 25px;

      .line-container {
        display: flex;
        align-items: center;
        width: 69.33%;

        .circle {
          width: 31px;
          height: 31px;
          border-radius: 50%;
          border: 2px solid $green-color;
          background-color: $light-cream;
        }

        .line {
          flex-grow: 1;
          height: 4px;
          background-color: $light-orange;
          border: 1px solid $light-orange;
          box-shadow: 0 2px 4px $shadow-color;
        }
      }

      .do-steps {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: start;

        .step {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          width: 33.333%;

          h2.number {
            @include number;
          }
        }
      }

      h3,
      .step-1,
      .step-2 {
        font-weight: $bold;
      }
      h3 {
        font-size: $size24;
        line-height: $size32;
        color: $gradient-color;
      }

      .step-1 {
        font-size: $size32;
        color: $dark-text;
        line-height: $size36;
        width: 65%;
      }
      .step-2 {
        font-size: $size16;
        line-height: $size26;
        width: 80%;
      }
    }
  }
}

// Media query for mobile view
@media (max-width: 480px) {
  body {
    margin: 30px 6.4% 10vh;
    .main-content {
      background-image: url("../assets/home/Bitmap.png");
      margin-top: 30px;
      width: 100%;
      height: 500px;
      background-size: cover;
      background-position: 68% 20%;
      border-radius: $border-radius;

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;

        color: $light-cream;

        .main-title {
          font-size: $size40;
          line-height: $size40;
          margin-top: 20%;
          font-family: $fraunces-family;
          text-shadow: 0 0 1px black;
        }

        .info {
          width: 85.3%;
          font-size: $size15;
          line-height: $size25;
        }
        .create-plan-button {
          @include plan-button;
        }
      }
    }
    .coffee-type,
    .coffee-selection,
    .coffee-type1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .coffee-type {
      margin-top: 10vh;

      .our-collection {
        font-size: $size40;
        background: linear-gradient(to bottom, $gradient-color, transparent);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: $bold;
      }

      .coffee-selection {
        margin: 0;
        color: $dark-text;
        .coffee-img {
          width: 40vw;
          height: fit-content;
          margin-top: 5vh;
        }
        .coffee-name {
          font-size: $size24;
          line-height: $size32;
          font-weight: $bold;
        }
        .coffee-info {
          width: 75vw;
          text-align: center;
          font-size: $size15;
          line-height: $size25;
        }
      }
    }
    .why-us {
      width: 100%;
      height: 900px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: start;
      background-color: $background-color;
      margin-top: 10vh;
      border-radius: $border-radius;

      .why {
        color: $light-cream;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 85%;

        h2 {
          font-size: $size24;
          line-height: $size24;
          margin-top: 5vh;
        }
        p {
          font-size: $size15;
          line-height: $size25;
        }
      }

      .arguments {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        position: absolute;
        top: -42%;
        transform: translateY(50%);
        z-index: 2;

        .argument-1 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          &.argument-1:first-child {
            margin-top: 2vh;
          }

          .argument {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 75vw;
            height: 380px;
            margin-top: 3vh;
            text-align: center;
            background-color: $green-color;
            border-radius: 5px;
            color: $light-cream;

            img {
              width: 70px;
              height: 70px;
              margin-top: 10vh;
            }

            h3 {
              margin-top: 5vh;

              font-size: $size24;
            }
            p {
              font-size: $size15;
              width: 80%;
            }
          }
        }
      }
    }

    .how {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 95vh;

      text-align: center;
      width: 100%;

      .line-container {
        display: none;
      }

      h3 {
        font-weight: $bold;
        font-size: $size24;
        color: $gradient-color;
      }
      .do-steps {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: start;
        gap: 15px;

        .step {
          align-items: center;
          text-align: center;
          justify-content: center;
          width: 100%;

          .number {
            @include number;
          }
          .step-1 {
            color: $dark-text;
            font-size: $size28;
            line-height: $size28;
            font-weight: $bold;
            width: 100%;
          }
          .step-2 {
            font-size: $size15;
            line-height: $size25;

            width: 100%;
          }
        }
      }

      .create-plan-button {
        @include plan-button;
      }
    }
  }
}
