@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,900&display=swap');

// Define variables
$primary-color: #333;
$menu-icon-color: #333D4B;
$dark-text: #333D4B;
$dark-background: #2C343E;
$menu-icon-size: 24px;
$transition-duration: 0.3s;
$nav-list-item-color: #83888F;
$gradient-color: #83888F;
$barlow-family: "Barlow", sans-serif;
$fraunces-family: "Fraunces", sans-serif;
$body-color: #FEFCF7;
$green-color: #0E8784;
$text-light: #FEFCF7;
$background-color:#2C343E;
$light-pink: #FDD6BA;
$shadow-color: #D8D8D8;
$size10: 10px;
$size15: 15px; 
$size16: 16px;
$size24: 24px;
$size25: 25px;
$size26: 26px;
$size28: 28px;
$size32: 32px;
$size36: 36px;
$size40: 40px;
$size48: 48px;
$size72: 72px;
